# path
.vscode
__pycache__
dist
UI

# file
.gitignore
AES_cipherBook_5.15.zip
AES_cipherBook_6.5.zip
AES_cipherBook_6.19.zip
arrow.png
Chrome.db
ChromePwd.txt
Local State.json
modi.mp3
private.pem
public.pem
Qt5.ipynb
README.pdf
README_old.md
sql_conf_server.sh
State.json
test.ini
test.key
testmov.mp4