# path
.vscode
__pycache__
dist
UI

# file
AES_cipherBook_5.15.zip
AES_cipherBook_6.5.zip
arrow.png
Chrome.db
ChromePwd.txt
Local State.json
modi.mp3
private.pem
public.pem
Qt5.ipynb
README_correcting.pdf
README.pdf
sql_conf_server.sh
test.ini
test.key
testmov.mp4